<div class="producto-container">

    <nav class="navbar-login">
        <a href="/login">Inicio</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/producto">Producto</a>
        <a href="/contacto">Contacto</a>
      </nav>

    <section class="hero">
        <img src="/producto_img/producto.jpg" class="hero-image" alt="Producto">
        <div class="overlay"></div>

        <div class="hero-content">
            <h1>Nombre del Producto</h1>
            <p>Descripción corta del producto.</p>
            <button>Conoce más</button>
        </div>
    </section>

    <section class="informacion">
        <h2>Características</h2>

        <div class="cards">
            <div class="card">
                <h3>Característica 1</h3>
                <p>Descripción.</p>
            </div>

            <div class="card">
                <h3>Característica 2</h3>
                <p>Descripción.</p>
            </div>
        </div>
    </section>

</div>