<aside class="sidebar">
  <div class="logo-seccion">
    <img src="/logos.png" alt="EcoCycle Logo">
    <div class="logo-text">
      <h2>EcoCycle</h2>
      <span>Panel</span>
    </div>
  </div>

  <nav class="menu-navegacion">
    <a routerLink="/panel/dashboard" class="item-menu" routerLinkActive="activo">
      <i class="fa-solid fa-chart-pie"></i> Dashboard Global
    </a>

    <a routerLink="/panel/usuarios" class="item-menu" routerLinkActive="activo">
      <i class="fa-solid fa-users"></i> Usuarios
    </a>

    <a routerLink="/panel/reciclaje" class="item-menu" routerLinkActive="activo">
      <i class="fa-solid fa-microchip"></i> Terminal Ingesta IoT
    </a>

    <a routerLink="/panel/catalogo" class="item-menu" routerLinkActive="activo">
      <i class="fa-solid fa-tags"></i> Catálogo
    </a>

    <a routerLink="/panel/historial-recompensas" class="item-menu" routerLinkActive="activo">
      <i class="fa-solid fa-clock-rotate-left"></i> Historial Recompensas
    </a>

    <a routerLink="/panel/reportes" class="item-menu" routerLinkActive="activo">
      <i class="fa-solid fa-file-invoice"></i> Reportes Núcleo
    </a>

  
    <a routerLink="/panel/soporte" class="item-menu" routerLinkActive="activo">
      <i class="fa-solid fa-headset"></i> Soporte Técnico
    </a>
  </nav>
</aside>