<nav class="navbar-login" [class.scrolled]="isScrolled">

    <div class="navbar-container">

        <div class="brand">

            <div class="logo">
                <img [src]="isScrolled ? '/logo_esmeralda.png' : '/logoo_blanco.png'" alt="Logo">
            </div>
            <span class="company-name">
                EcoCycle
            </span>
        </div>

        <div class="search-box">

            <input type="text" placeholder="Buscar...">

            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>

        </div>

        <div class="menu">
            <a routerLink="/home">Inicio</a>
            <a routerLink="/nosotros">Nosotros</a>
            <a routerLink="/producto">Servicios</a>
            <a routerLink="/contacto">Contacto</a>
        </div>

        <div class="options">
        <a routerLink="/login" class="btn-theme-toggle">
            <i class="fa-solid fa-user"></i>
        </a>
        <!-- <button class="btn-theme-toggle" (click)="toggleTheme()" [title]="isLightTheme ? 'Cambiar a Modo Oscuro' : 'Cambiar a Modo Claro'">
            <i class="fa-solid" [ngClass]="isLightTheme ? 'fa-moon' : 'fa-sun'"></i>
        </button> -->
    </div>
    </div>

</nav>