* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-login {
  width: 100%;
  height: 100vh;
  display: flex;
}

/* =====================================
   PANEL IZQUIERDO
===================================== */

.panel-formulario {
  width: 30%;
  min-width: 400px;
  background: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 50px;
}

.logo {
  position: absolute;
  top: 35px;
  left: 50px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 65px;
}

.logo span {
  font-size: 33px;
  font-weight: 800;
}

.avatar {
  width: 110px;
  height: 110px;
  margin: 0 auto 20px;

  border-radius: 50%;

  background: #0d631b;

  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar i {
  color: white;
  font-size: 50px;
}


.encabezado-login {
  text-align: center;
  margin-bottom: 35px;
}

.encabezado-login h2 {
  font-size: 32px;
  color: #0d631b;
  margin-bottom: 10px;
}

.encabezado-login p {
  color: #64748b;
  font-size: 15px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  position: relative;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  color: #0d631b;
}

.input-group input {
  width: 100%;
  box-sizing: border-box;

  padding: 18px 18px 18px 55px;

  border-radius: 15px  !important;

  border: 2px solid #E4F0E6;

  background: #F9FFFA;

  font-size: 15px;
}

.input-group input:focus {
  outline: none;
  border-color: #18912e;
  background: white;
  box-shadow:
    0 0 0 4px rgba(24,145,46,.15);
}

button {
  margin-top: 15px;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background: #0d631b;
  color: white;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  transition: .3s;
}

button:hover {
  background: #18912e;
}

/* =====================================
   PANEL DERECHO
===================================== */
.panel-imagen {
  position: relative;
  overflow: hidden;
}

.imagen-fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.3);
  z-index: 1;
}

.navbar-login {
  position: absolute;
  top: 35px;
  right: 60px;
  display: flex;
  gap: 50px;
  z-index: 3;
}

.navbar-login a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .5px;
  transition: .3s;
}

.navbar-login a:hover {
  color: #3CBD3D;
}

.contenido-panel {
  position: absolute;
  left: 60px;
  bottom: 90px;
  z-index: 3;
  color: white;
}

.contenido-panel h1 {
  font-size: 72px;
  font-weight: 800;
  margin-bottom: 15px;
}

.descripcion {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 50px;
}

.caracteristicas {
  display: flex;
  gap: 55px;
}

.item {
  max-width: 180px;
}

.item i {
  width: 70px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 2px solid rgba(255,255,255,.5);

  background: rgba(255,255,255,.08);
  backdrop-filter: blur(5px);

  font-size: 28px;

  margin-bottom: 15px;
}

.item h4 {
  font-size: 17px;
  margin-bottom: 8px;
  font-weight: 700;
}

.item span {
  font-size: 14px;
  line-height: 1.5;
}

.curva {
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.curva-1 {
  width: 120%;
  height: 220px;
  background: rgba(13, 99, 27, .70);
  border-radius: 60% 40% 0 0;
  transform: translateX(-10%);
}

.curva-2 {
  width: 100%;
  height: 140px;
  background: rgba(95, 185, 73, .45);
  border-radius: 70% 30% 0 0;
  bottom: -40px;
}

.texto-bienvenida {
  position: absolute;
  bottom: 80px;
  left: 80px;

  z-index: 2;

  color: white;
}

.texto-bienvenida h1 {
  font-size: 80px;
  font-weight: 800;
}

.texto-bienvenida p {
  margin-top: 15px;
  font-size: 24px;
  max-width: 500px;
}