.nosotros-container {
    width: 100%;
    overflow: hidden;
  }
  
  .hero {
    height: 500px;
    position: relative;
  }
  
  .hero-image {
    width:100%;
    height:100%;
    object-fit:cover;
  }
  
  .overlay {
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
  }
  
  .hero-content {
  
    position:absolute;
    inset:0;
  
    display:flex;
    flex-direction:column;
  
    justify-content:center;
    align-items:center;
  
    text-align:center;
    color:white;
  
  
    h1 {
  
      font-size:4rem;
      margin-bottom:20px;
      color:white;
    }
  
    p {
      color:white;
      font-size:1.5rem;
    }
  
    button { 
      display: inline-block;
      padding: 15px 30px;
      font-size: 17px;
      border-radius: 16px;
      border:none;
      transition: background-color 0.3s ease, transform 0.2s ease;
      background-color: #14A36D;
      color: #ffffff;

      &:hover {
      
          background-color: #0E754E;
          transform: translateY(-3px);
        }
      
      }
  
  }

  .galeria {  
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:15px;
    padding:30px;
  
    img {
      width:100%;
      height:140px;
      object-fit:cover;
      border-radius:10px;
  
    }

  }
  
  
  .informacion {

    background: #ffffff;
    padding: 90px 20%;
    text-align: center;
    color: #1a1a1a;
  
    h2 {
      color: #202020;
      font-size: 42px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-bottom: 45px;
      padding-bottom: 20px;
  
      position: relative;
  
      &::after {
  
        content: "";
  
        display: block;
        width: 90px;
        height: 4px;
        background: #9a9a9a;
        margin: 25px auto 0;
        border-radius: 10px;

      }
    }  
  
    .texto {
      font-family: 'Montserrat', Arial, sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.9;
      letter-spacing: 1px;
      color: #444;

      text-align: justify;
      text-justify: inter-word;
      hyphens: auto;
  
      p {
        margin-bottom: 25px;
      }
    }
  }
  
  .btn-primary {

    display: inline-block;
    padding: 15px 30px;
    border-radius: 16px;
    border:none;
    font-size: 17px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: #14A36D;
    color: #ffffff;

    &:hover {
      background-color: #0E754E;
      transform: translateY(-3px);
    }
  }
  
  .descubre {
    background: #111 radial-gradient(
        circle at 50% 25%, 
        rgba(26, 215, 26, 0.14) 0%, 
        rgba(17, 17, 17, 0) 70%
    );  
    padding: 80px 5%;
    color: white;
    display: flex;       
    flex-direction: column;
    align-items: center;

    h2 {
      color:white;
        text-align: center;
        font-size: 40px;
        margin-bottom: 50px;
        text-transform: uppercase; 
        letter-spacing: 2px;
        
        display: flex;        
        flex-direction: column;
        align-items: center;
        gap: 15px;            
        
        &::after {
            content: "";
            width: 65px;
            height: 3px;
            background-color: #14A36D;
            border-radius: 2px;
        }
    }
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%; 
}

.card {
    width: 300px;
    height: 440px;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    cursor: pointer;
    transition: .5s;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .7s;
}

.card-content {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.05);
    transition: .5s;
}

.card-box {
    width: 140px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #14A36D;
    color: white;
    letter-spacing: 2px;

    background: rgba(60,35,10,.45);
    backdrop-filter: blur(3px);

    opacity: 0;          
    transition: .4s ease; 
}

.card-box h3 {
  color:white;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}

.card:hover img {
    transform: scale(1.12);
}

.card:hover .card-content {
    background: rgba(0,0,0,.55);
}
.card:hover .card-box {
    opacity: 1;
    width: 170px;
    height: 140px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px);
    border: 3px solid #0a6e34;
}

.card:hover .card-box h3 {
    letter-spacing: 2px;
}

  .final-section {
    height:600px;
    position:relative;
  }

  .background {  
    width:100%;
    height:100%;  
    object-fit:cover;
  }  
  
  .final-content {
    position:absolute;  
    inset:0;
    display:flex;  
    flex-direction:column;
    justify-content:center;  
    padding:80px;
    color:white;
  

    h2 {
      color:white;
      font-size:50px;
    }
  
    p {
      font-size:18px;
      max-width:600px;
      text-align: justify;
    }
  }

.mision-section{
    width: 100%;
    padding: 40px 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    color:white;
    background: #fff;
}


.vision-section{
    width: 100%;
    padding: 40px 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    color:white;
    background: #fff;
}


.promo-card{
    flex: 1;
    height: 320px;
    border-radius: 20px;
    overflow: hidden;
}

.image-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.text-card-vision:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  }

.text-card-vision {
  background: #14A36D;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 40px;
  
  font-family: 'Poppins', 'Inter', 'Segoe UI', sans-serif; 
  transition: transform 0.35s ease, box-shadow 0.35s ease;

}

.text-card-vision h2 {
  font-size: 2rem;           
  font-weight: 700;          
  margin-bottom: 16px;
  color:white;       
  letter-spacing: -0.5px;     
}

.text-card-vision p {
  font-size: 17px;            
  font-weight: 400;           
  line-height: 1.6;           
  max-width: 600px;           
  opacity: 0.9;    
  text-align: justify;        
}

.text-card-mision:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.text-card-mision {
  background: #14A36D;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;  
  font-family: 'Poppins', 'Inter', 'Segoe UI', sans-serif; 
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}


.text-card-mision h2 {
  font-size: 2rem;           
  font-weight: 700;  
  color:white;        
  margin-bottom: 16px;       
  letter-spacing: -0.5px;     
}

.text-card-mision p {
  font-size: 17px;            
  font-weight: 400;           
  line-height: 1.6;           
  max-width: 600px;           
  text-align: justify;
  opacity: 0.9;            
}

.valores-section{
    width: 100%;
    padding: 90px 8%;
}

.titulo-valores{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.titulo-valores h2{
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 15px;
}

.titulo-valores span{
  font-size: 2.5rem;
  color: #14A36D;
  margin-bottom: 15px;
}

.titulo-valores p{
    color: #575757;
    font-size: 17px;
    max-width: 600px;
    margin: auto;
    line-height: 1.8;
}

.contenedor-valores{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.card-valor{
    background: #116b49;
    border-radius: 18px;
    padding: 45px 30px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    transition: .3s;
}

.card-valor:hover{
    transform: translateY(-8px);
}


.card-valor i{
    font-size: 60px;
    color: #fafafa;
    margin-bottom: 25px;
}

.card-valor h3{
    color: #fafafa;
    font-size: 1.5rem;
    margin-bottom: 18px;
}

.card-valor p{
    color: #fafafa;
    line-height: 1.8;
    font-size: 17px;
    text-align: justify;
}


.footer{
  background:#2d1f18;
  color:#fff;
}

.footer-container{
  max-width:1200px;
  margin:auto;
  padding:60px 8%;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:40px;
}

.footer h2{
  color:#f6d49c;
  margin-bottom:20px;
  font-size:2rem;
}

.footer h3{
  color:#f6d49c;
  margin-bottom:18px;
  font-size:1.2rem;
}

.footer-contacto p{
  display:flex;
  align-items:center;
  gap:12px;
  margin-bottom:15px;
  color:#ddd;
}

.footer-contacto i{
  color:#f6d49c;
  font-size:18px;
  width:20px;
  text-align:center;
}

.footer-links{
  display:flex;
  flex-direction:column;
}

.footer-links a{
  color:#ddd;
  text-decoration:none;
  margin-bottom:12px;
  transition:.3s;
}

.footer-links a:hover{
  color:#f6d49c;
  padding-left:6px;
}

.social-icons{
  display:flex;
  gap:15px;
  margin-top:10px;
}

.social-icons a{
  width:45px;
  height:45px;
  border-radius:50%;
  background:#f6d49c;
  color:#2d1f18;
  display:flex;
  align-items:center;
  justify-content:center;
  text-decoration:none;
  font-size:20px;
  transition:.3s;
}

.social-icons a:hover{
  transform:translateY(-5px);
  background:#fff;
}

.footer-bottom{
  text-align:center;
  padding:20px;
  border-top:1px solid rgba(255,255,255,.15);
  color:#ccc;
  font-size:.9rem;
}