<div class="nosotros-container">
  
    <nav class="navbar-login">
        <a href="/login">Inicio</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/contacto">Contacto</a>
    </nav>
    
  <section class="hero">
  
      <img 
        src="/nosotros_img/card1.jpg"
        alt="EcoCycle"
        class="hero-image"
      >
  
      <div class="overlay"></div>
  
      <div class="hero-content">
  
        <h1>
          EcoCycle
        </h1>
  
        <p>
          Construyendo un futuro más sostenible
        </p>
  
        <button>
          Conoce más
        </button>
      </div>
    </section>
  
    <section class="galeria">
  
      <img src="/nosotros_img/card2.jpeg">
      <img src="/nosotros_img/card3.jpeg">
      <img src="/nosotros_img/card4.jpg">
      <img src="/nosotros_img/card6.jpg">
      <img src="/nosotros_img/card7.jpg">
  
    </section>
  
  
    <section class="informacion">
  
      <h2>
        Nosotros
      </h2>
  
      <div class="texto">
  
        <p>
          Aquí irá la información general de EcoCycle.
        </p>
  
  
        <p>
          Describe la historia, objetivos y propósito
          de la empresa.
        </p>
  
      </div>
  
  
  
      <button class="btn-primary">
        Conocer más
      </button>
  
  
    </section>
  
    <section class="descubre">
  
      <h2>
        Descubre más
      </h2>
  

      <div class="cards">
    
        <div class="card">
  
          <img src="/nosotros_img/card9.jpg">
  
          <div class="card-content">
            <h3>
              Servicios
            </h3>
          </div>
        </div>
  
        <div class="card card-center">
          <img src="/nosotros_img/card8.jpg">  
          <div class="card-content">

            <h3>
              Tecnología
            </h3>
          </div>  
        </div>

        <div class="card">
          <img src="/nosotros_img/card10.jpg">
  
          <div class="card-content">
            <h3>
              Comunidaad
            </h3>
          </div>
        </div>
      </div>
    </section>

    <section class="mision-section">

        <div class="promo-card text-card-mision">
            <h2>Nuestra mision</h2>
    
            <p>
                Esta temporada las reuniones se disfrutan en familia.
                <br>
                Ven y disfruta nuestros pasteles. ¡Te esperamos!
            </p>
        </div>
    
        <div class="promo-card image-card">
            <img src="/nosotros_img/card5.webp" alt="Pastel de cumpleaños">
        </div>

    
    </section>

    <section class="vision-section">

        <div class="promo-card image-card">
            <img src="/nosotros_img/card11.avif" alt="Pastel de cumpleaños">
        </div>
    
        <div class="promo-card text-card-vision ">
            <h2>Construimos momentos, inspiramos felicidad</h2>
    
            <p>
                Esta temporada las reuniones se disfrutan en familia.
                <br>
                Ven y disfruta nuestros pasteles. ¡Te esperamos!
            </p>
        </div>
    
    </section>
    <section class="valores-section">

        <div class="titulo-valores">
            <h2>Nuestros Valores</h2>
            <p>
                Creemos que una empresa se construye a partir de principios que guían
                cada una de nuestras acciones.
            </p>
        </div>
    
        <div class="contenedor-valores">
    
            <div class="card-valor">
                <i class="fa-solid fa-leaf"></i>
                <h3>Sostenible</h3>
                <p>
                    Promovemos prácticas responsables que contribuyen al cuidado del
                    medio ambiente y al bienestar de nuestra comunidad.
                </p>
            </div>
    
            <div class="card-valor">
                <i class="fa-solid fa-recycle"></i>
                <h3>Responsable</h3>
                <p>
                    Trabajamos con compromiso y honestidad para ofrecer productos y
                    servicios de la más alta calidad.
                </p>
            </div>
    
            <div class="card-valor">
                <i class="fa-solid fa-users"></i>
                <h3>Consciente</h3>
                <p>
                    Creemos que cada pequeña acción genera un gran cambio y fortalece
                    la confianza con nuestros clientes.
                </p>
            </div>
    
        </div>
    
    </section>

    <section class="final-section">
    
      <img 
        src="/nosotros_img/card12.jpg"
        class="background"
      >

      <div class="overlay"></div>
    
      <div class="final-content">

        <h2>
          Nuestro compromiso
        </h2>
        <p>
          Información sobre el impacto ambiental
          y objetivos de EcoCycle.
        </p>
      </div>
    </section>
  </div>

  <footer class="footer">

    <div class="footer-container">

        <div class="footer-logo">
            <h2>Sweet Cake</h2>
            <p>
                Horneamos momentos inolvidables. Pasteles personalizados para cada ocasión especial.
            </p>
        </div>

        <div class="footer-links">

            <h3>Enlaces</h3>

            <a href="index.html">Inicio</a>
            <a href="productos.html">Productos</a>
            <a href="nosotros.html">Nosotros</a>
            <a href="contacto.html">Contacto</a>

        </div>

        <div class="footer-contacto">

            <h3>Contacto</h3>

            <p><i class="fa-solid fa-location-dot"></i> Ciudad, México</p>
            <p><i class="fa-solid fa-phone"></i>+52 123 456 7890</p>
            <p><i class="fa-solid fa-envelope"></i> contactosweetcake.com</p>

        </div>

        <div class="footer-social">

            <h3>Síguenos</h3>

            <div class="social-icons">

                <a href="#"><i class="fab fa-facebook-f"></i></a>

                <a href="#"><i class="fab fa-instagram"></i></a>

                <a href="#"><i class="fab fa-tiktok"></i></a>

                <a href="#"><i class="fab fa-whatsapp"></i></a>

            </div>

        </div>

    </div>

    <div class="footer-bottom">

        © 2026 Sweet Cake | Todos los derechos reservados.

    </div>

</footer>