<app-bar></app-bar>

<div class="nosotros-container">
   
  <section class="hero">
  
      <img 
        src="/nosotros_img/card1.jpg"
        alt="EcoCycle"
        class="hero-image"
      >
  
      <div class="overlay"></div>
  
      <div class="hero-content">
  
        <h1>
          EcoCycle
        </h1>
  
        <p>
          Construyendo un futuro más sostenible
        </p>
  
        <button>
          Conoce más
        </button>
      </div>
    </section>
  
    <section class="galeria">
  
      <img src="/nosotros_img/card2.jpeg">
      <img src="/nosotros_img/card3.jpeg">
      <img src="/nosotros_img/card4.jpg">
      <img src="/nosotros_img/card6.jpg">
      <img src="/nosotros_img/card7.jpg">
  
    </section>
  
  
    <section class="informacion">
  
      <h2>
        Nosotros
      </h2>
  
      <div class="texto">
        <p>
          Somos un equipo apasionado por la tecnología y la sustentabilidad, comprometido con la creación de soluciones innovadoras que generen un impacto positivo en nuestro entorno. Creemos firmemente que el cuidado del medio ambiente es una responsabilidad compartida, y que la mejor manera de fomentar el cambio es transformando las acciones cotidianas en experiencias gratificantes.
        </p>  
        <p>
          A través de nuestro proyecto, integramos tecnología IoT y plataformas digitales para revolucionar el proceso de reciclaje de PET. Diseñamos un ecosistema accesible y transparente que no solo facilita la correcta disposición de residuos, sino que también reconoce y premia el compromiso ecológico de cada ciudadano. Nuestra misión es inspirar a las comunidades a adoptar hábitos más sostenibles, impulsando una economía circular donde cada botella reciclada cuenta para construir un futuro más limpio y verde para todos.
        </p>
      </div>
  
  
      <button class="btn-primary">
        Conocer más
      </button>
  
  
    </section>
  
    <section class="descubre">

      <h2>Descubre más</h2>
    
      <div class="cards">
    
        <div class="card">
    
          <img src="/nosotros_img/card9.jpg">
    
          <div class="card-content">
            <div class="card-box">
              <h3>Servicios</h3>
            </div>
          </div>
    
        </div>
    
        <div class="card card-center">
    
          <img src="/nosotros_img/card8.jpg">
    
          <div class="card-content">
            <div class="card-box">
              <h3>Tecnología</h3>
            </div>
          </div>
    
        </div>
    
        <div class="card">
    
          <img src="/nosotros_img/card10.jpg">
    
          <div class="card-content">
            <div class="card-box">
              <h3>Comunidad</h3>
            </div>
          </div>
    
        </div>
    
      </div>
    
    </section>
    
    <section class="mision-section">

        <div class="promo-card text-card-mision">
            <h2>Nuestra mision</h2>
    
            <p>
              Impulsar la cultura del reciclaje mediante tecnología innovadora que transforma la disposición de PET en una acción cotidiana y gratificante. Buscamos empoderar a los ciudadanos con un sistema que recompensa su compromiso ambiental, promoviendo la economía circular y reduciendo la contaminación en nuestras comunidades. 
            </p>
         
            </div>
    
        <div class="promo-card image-card">
            <img src="/nosotros_img/card5.webp" alt="Pastel de cumpleaños">
        </div>

    
    </section>

    <section class="vision-section">

        <div class="promo-card image-card">
            <img src="/nosotros_img/card11.avif" alt="Pastel de cumpleaños">
        </div>
    
        <div class="promo-card text-card-vision ">
            <h2>Nuestra visión</h2>
    
            <p>
              Ser la plataforma líder en soluciones de reciclaje inteligente a nivel nacional, expandiendo nuestra red de máquinas en los principales centros urbanos. Aspiramos a consolidar una comunidad activa de usuarios y comercios aliados, creando el ecosistema de recompensas ecológicas de mayor impacto en el medio ambiente.
            </p>
        </div>
    
    </section>
    <section class="valores-section">

        <div class="titulo-valores">
            <h2>Nuestros Valores</h2>
            <p>
                Creemos que una empresa se construye a partir de principios que guían
                cada una de nuestras acciones.
            </p>
        </div>
    
        <div class="contenedor-valores">
    
            <div class="card-valor">
                <i class="fa-solid fa-leaf"></i>
                <h3>Sostenible</h3>
                <p>
                    Promovemos prácticas responsables que contribuyen al cuidado del
                    medio ambiente y al bienestar de nuestra comunidad.
                </p>
            </div>
    
            <div class="card-valor">
                <i class="fa-solid fa-recycle"></i>
                <h3>Responsable</h3>
                <p>
                    Trabajamos con compromiso y honestidad para ofrecer productos y
                    servicios de la más alta calidad.
                </p>
            </div>
    
            <div class="card-valor">
                <i class="fa-solid fa-users"></i>
                <h3>Consciente</h3>
                <p>
                    Creemos que cada pequeña acción genera un gran cambio y fortalece
                    la confianza con nuestros clientes.
                </p>
            </div>
    
        </div>
    
    </section>

    <section class="final-section">
    
      <img 
        src="/nosotros_img/card12.jpg"
        class="background"
      >

      <div class="overlay"></div>
    
      <div class="final-content">

        <h2>
          Nuestro compromiso
        </h2>
        <p>
          Nos comprometemos a desarrollar tecnología con propósito, garantizando un sistema transparente y confiable. Trabajamos con la convicción de que la innovación debe servir al planeta, asegurando que cada botella procesada sea un paso real hacia un entorno más limpio y sostenible.
        </p>
      </div>
    </section>
  </div>

  <footer class="footer">

    <div class="footer-container">

        <div class="footer-logo">
            <h2>EcoCycle</h2>
            <p>
                Resguardando y cuidando el medio ambiente.
            </p>
        </div>

        <div class="footer-links">

            <h3>Enlaces</h3>

            <a href="index.html">Inicio</a>
            <a href="productos.html">Productos</a>
            <a href="nosotros.html">Nosotros</a>
            <a href="contacto.html">Contacto</a>

        </div>

        <div class="footer-contacto">

            <h3>Contacto</h3>

            <p><i class="fa-solid fa-location-dot"></i> Ciudad, México</p>
            <p><i class="fa-solid fa-phone"></i>+52 123 456 7890</p>
            <p><i class="fa-solid fa-envelope"></i> contactoEcocycle.com</p>

        </div>

        <div class="footer-social">

            <h3>Síguenos</h3>

            <div class="social-icons">

                <a href="#"><i class="fab fa-facebook-f"></i></a>

                <a href="#"><i class="fab fa-instagram"></i></a>

                <a href="#"><i class="fab fa-tiktok"></i></a>

                <a href="#"><i class="fab fa-whatsapp"></i></a>

            </div>

        </div>

    </div>

    <div class="footer-bottom">

        © 2026 EcoCycle| Todos los derechos reservados.

    </div>

</footer>